{% extends "layouts/default.html.twig" %}
{% block title %}Coding Rules{% endblock %}

{% block content %}
    <!-- Begin page content -->
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-9 rule-list">
                <!--<p class="float-right hidden-md-up sticky-top" style="top: 1rem">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">List</button>
                </p>-->
                {% for rule in data.rules %}
                    {% block rule_item %}
                        <div class="rule-item" id="{{ rule.key | idformat }}"
                             data-tags="{{ rule.tags | join(',') }}">
                            <h2 class="rule-name">{{ loop.index }}. {{ rule.name }}</h2>
                            <div class="rule-meta">
                                <span class="badge badge-dark rule-repo">{{ rule.repo }}</span>
                                <span class="badge badge-primary rule-type">{{ rule.type }}</span>
                                <span class="badge badge-success rule-status">{{ rule.status }}</span>
                                <span class="badge badge-info rule-rank">{{ getRank(rule.tags) }}</span>
                            </div>
                            <div class="clearfix rule-desc">
                                {{ rule.htmlDesc | raw }}
                            </div>
                        </div><!-- /.rule-item -->
                    {% endblock %}
                {% endfor %}

                <p class="float-right sticky-bottom">
                    <a href="#" class="btn btn-primary btn-sm">Top</a>
                </p>
            </div><!-- /.rule-list -->

            <div class="col-md-3 sidebar-offcanvas sidebar-offcanvas">
                <form class="bd-search hidden-sm-down mb-2" style="display: none">
                    <input type="text" class="form-control" id="search" placeholder="Search..." autocomplete="off">
                    <div class="dropdown-menu bd-search-results" id="search-results"></div>
                </form>
                <div class="sidebar sticky-top">
                    <ul class="nav flex-column sidebar-module sticky-top">
                        {% for rule in data.rules %}
                            <li class="nav-item">
                                <a class="nav-link" href="#{{ rule.key | idformat }}">{{ loop.index }}
                                    . {{ rule.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- /.-sidebar -->
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
            $('body').scrollspy({target: '.sidebar'});
        });
    </script>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/docs.css">
{% endblock %}
